body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#score-counter {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

#question-container, #report-container {
    margin-top: 100px;
}

#question {
    font-size: 24px;
    margin-bottom: 50px;
}

#buttons button, #back-button, #restart-button {
    font-size: 18px;
    padding: 15px 30px;
    margin: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (max-width: 600px) {
    #buttons button, #back-button, #restart-button {
        width: 80%;
        margin: 10px auto;
    }
}
